body{
    color:#2F86A6;
    margin: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1{
    color: #34BE82;
    font-size: 5.65rem;
    margin: 50px auto 50px auto;
}

h2{
    color: #34BE82;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 1rem;
}

h3{
    color: #2FDD92;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    line-height: 2;
}

hr{
    border: dotted #998CEB;
    border-bottom: none;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.first-container{
    background-color: blueviolet;
}

.second-container{
    margin: 100px 0;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.third-container{
    background-color: blueviolet;
    padding: 50px 0 20px;
    text-align: center;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.textlove{
    text-decoration: underline;
}

.intro{
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}
.castle{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.topCloud{
    width: 500px;
    height: auto;
}
.bottomCloud{
    position: absolute;
    width: 500px;
    height: auto;
    left: 100px;
    top: 400px;
}
.self-image{
    width: 500px;
    height: auto;
    margin-top: 30px;
}

.learn-img{
    margin-left: 160px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin-bottom: 30px;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}